h2 {
	text-align: left;
}
blog{
	text-align: left;
}
blogTitle{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 120%;
	color: #bcbcbc;
   	background-color: #000000;
   	font-weight: bold;
}

top{
	text-align:right;
}
date{
	font-size: 65%;
	color: #8e8e8e;
}
signature{
	font-size: 77%;
}
subs{
	font-size: 200%;
	font-weight: bold;

}
lightGrey{
	color: #7d7d7d; 
}
grey{
	color: #cbcbcb;
}
hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    border-color: #7d7d7d;
}
body {
   font-family: Verdana, Helvetica, sans-serif;
   color: #FFFFFF;
   background-color: #000000;
   text-align: center;
}