h2 {
	text-align: left;
}
blogEntry{
	text-align: left;
}
top{
	text-align:right;
}
body {
   font-family: Verdana, Helvetica, sans-serif;
   color: #FFFFFF;
   background-color: #000000;
   text-align: center;
}