h2 {
	text-align: left;
}
blog{
	text-align: left;
}
top{
	text-align:right;
}
date{
	font-size: 65%;
	color: #8e8e8e;
}
signature{
	font-size: 77%;
}
grey{
	color: #cbcbcb;
}
body {
   font-family: Verdana, Helvetica, sans-serif;
   color: #FFFFFF;
   background-color: #000000;
   text-align: center;
}