<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Guestbook</servlet-name>
		<servlet-class>guestbook.GuestbookServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Guestbook</servlet-name>
		<url-pattern>/guestbook</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>DeletePosts</servlet-name>
        <servlet-class>guestbook.DeletePostsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DeletePosts</servlet-name>
        <url-pattern>/deleteposts</url-pattern>
    </servlet-mapping>
	
	
	<servlet>
        <servlet-name>SubscribeUser</servlet-name>
        <servlet-class>guestbook.SubscribeServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SubscribeUser</servlet-name>
        <url-pattern>/subscribe</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RemoveAllSubscribers</servlet-name>
        <servlet-class>guestbook.RemoveAllSubscribersServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RemoveAllSubscribers</servlet-name>
        <url-pattern>/unsubscribeall</url-pattern>
    </servlet-mapping>
	
    
    <servlet>
        <servlet-name>UnsubscribeUser</servlet-name>
        <servlet-class>guestbook.UnsubscribeServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UnsubscribeUser</servlet-name>
        <url-pattern>/unsubscribe</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>AllPosts</servlet-name>
        <servlet-class>guestbook.OfySignGuestbookServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AllPosts</servlet-name>
        <url-pattern>/allposts</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GAEJEmailServlet</servlet-name>
        <servlet-class>guestbook.GAEJEmailServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GAEJEmailServlet</servlet-name>
        <url-pattern>/gaejemail</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EmailCronServlet</servlet-name>
        <servlet-class>guestbook.EmailCronServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>EmailCronServlet</servlet-name>
        <url-pattern>/cron/emailcronjob</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Note</servlet-name>
        <servlet-class>guestbook.OfySignGuestbookServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Note</servlet-name>
        <url-pattern>/note</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Bonfire</servlet-name>
        <servlet-class>guestbook.OfySignGuestbookServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Bonfire</servlet-name>
        <url-pattern>/bonfire</url-pattern>
    </servlet-mapping>
    
	
	<servlet>
        <servlet-name>ofysign</servlet-name>
        <servlet-class>guestbook.OfySignGuestbookServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ofysign</servlet-name>
        <url-pattern>/ofysign</url-pattern>
    </servlet-mapping>
    
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>

	<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>bonfire.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
